{% extends 'base.html' %}
{% block title %}
    Register Payment - {{ block.super }}
{% endblock title %}
{% block body %}
<main class="form-page">
    <section class="form-card">
        <h1 class="form-title">Register Payment</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Payment Method</label>
            {{ form.payment_method }}
            <label>Transaction Status</label>
            {{ form.transaction_status }}
            <label>Charged Amount</label>
            {{ form.charged_amount }}
            <label>Receipt</label>
            {{ form.receipt }}
            <label>Order</label>
            {{ form.order }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</main>
{% endblock body %}