{% extends 'base.html' %}
{% block title %}
    Client List - {{ block.super }}
{% endblock title %}
{% block body %}
<br />
    <a href="{% url 'client:add_client' %}">Register Client</a>
<br />
<br />
<b>Client List</b></h5>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Gender</th>
        <th>CPF</th>
        <th>Date of Birth</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.gender }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.date_of_birth }}</td>
            <td>
                <a href="{% url 'client:edit_client' client.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'client:delete_client' client.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}