{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Register Client - {{ block.super }}
{% endblock title %}

{% block body %}

<b>Register Client</b>
<br />
<br />

{% if form.errors %}
<p style="color: red;">Error:</p>
{{ form.errors }}
<br />
{% endif %}

<form action="" method="POST">
{% csrf_token %}
    <label>Name</label>
    <br />
    {{ form.first_name|attr:"autofocus" }}
    <br />
    <br />
    <label>Last Name</label>
    <br />
    {{ form.last_name }}
    <br />
    <br />
    <label>Username</label>
    <br />
    {{ form.username }}
    <br />
    <br />
    <label>E-mail</label>
    <br />
    {{ form.email }}
    <br />
    <br />
    <label>Password</label>
    <br />
    {{ form.password|attr:"type:password" }}
    <br />
    <br />
    <label>Address</label>
    <br />
    {{ form.address }}
    <br />
    <br />
    <label>Phone</label>
    <br />
    {{ form.phone }}
    <br />
    <br />
    <label>Gender</label>
    <br />
    {{ form.gender }}
    <br />
    <br />
    <label>CPF</label>
    <br />
    {{ form.cpf }}
    <br />
    <br />
    <label>Date of Birth</label>
    <br />
    {{ form.date_of_birth }}
    <br />
    <br />
    <button type="submit">Register</button>
</form>

{% endblock body %}
