{% extends 'base.html' %}

{% block title %}Employee Login - {{ block.super }}{% endblock title %}

{% block body %}
<main class="home">
    <h1>Employee Login</h1>
    <p>Staff accounts are created in Django Admin (Employee + login).</p>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <label>Username</label>
        <br />
        <input type="text" name="username" required autofocus>
        <br />
        <br />
        <label>Password</label>
        <br />
        <input type="password" name="password" required>
        <br />
        <br />
        <button type="submit" class="btn">Sign in</button>
    </form>
    <br />
    <a href="{% url 'accounts:user_login' %}">Client login</a>
</main>
{% endblock body %}
