{% extends 'base.html' %}
{% block title %}
    Ticket List - {{ block.super }}
{% endblock title %}
{% block body %}
<br />
<b>Ticket List</b>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Screening</th>
        <th>Seat</th>
        <th>Order</th>
        <th>Issued at</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.screening }}</td>
            <td>{{ ticket.seat }}</td>
            <td>
                <a href="{% url 'order:edit_order' ticket.order.id %}">{{ ticket.order.id }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
