{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arquivo_com_estilos.css' %}">
    <title>{% block title %}Cinema App{% endblock title %}</title>
</head>
<body>

    <nav class="site-nav">
        <div class="nav-group">
            <a class="btn" href="{% url 'core:home' %}">Home</a>
            <a class="btn" href="{% url 'cinema:cinema_list' %}">Cinemas</a>
            <a class="btn" href="{% url 'movie:movie_list' %}">Movies</a>
            <a class="btn" href="{% url 'genre:genre_list' %}">Genres</a>
            <a class="btn" href="{% url 'screening:screening_list' %}">Screenings</a>
        </div>
        {% if user.is_authenticated %}
        <div class="nav-group">
            <a class="btn" href="{% url 'order:order_list' %}">Orders</a>
            <a class="btn" href="{% url 'ticket:ticket_list' %}">Tickets</a>
            <a class="btn" href="{% url 'payment:payment_list' %}">Payments</a>
        </div>
        <div class="nav-group">
            <a class="btn" href="{% url 'client:client_list' %}">Clients</a>
            <a class="btn" href="{% url 'employee:employee_list' %}">Employees</a>
        </div>
        <div class="nav-group nav-group-right">
            <a class="btn" href="{% url 'accounts:user_change_information' user.username %}">My Profile</a>
            <a class="btn" href="{% url 'accounts:user_change_password' %}">Change Password</a>
            <a class="btn" href="{% url 'accounts:user_logout' %}">Logout</a>
        </div>
        {% endif %}
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block body %}

    {% endblock body %}

    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>
</html>
