{% extends 'base.html' %}
{% block title %}
    Register Screening - {{ block.super }}
{% endblock title %}
{% block body %}
<main class="form-page">
    <section class="form-card">
        <h1 class="form-title">Register Screening</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Movie</label>
            {{ form.movie }}
            <label>Room</label>
            {{ form.room }}
            <label>Start Time</label>
            {{ form.start_time }}
            <label>Price</label>
            {{ form.price }}
            <label>Dubbed</label>
            {{ form.dubbed }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</main>
{% endblock body %}