{% extends 'base.html' %}
{% block title %}
    Register Cinema - {{ block.super }}
{% endblock title %}
{% block body %}
<main class="form-page">
    <section class="form-card">
        <h1 class="form-title">Register Cinema</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Name</label>
            {{ form.name }}
            <label>Address</label>
            {{ form.address }}
            <label>Phone</label>
            {{ form.phone }}
            <label>CNPJ</label>
            {{ form.cnpj }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</main>
{% endblock body %}