{% extends 'base.html' %}
{% block title %}
    Cinema List - {{ block.super }}
{% endblock title %}
{% block body %}
<br />
{% if user.is_authenticated %}
    <a class="btn-register" href="{% url 'cinema:add_cinema' %}">Register Cinema</a>
<br />
<br />
{% endif %}
<b>Cinema List</b></h5>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>CNPJ</th>
        {% if user.is_authenticated %}
        <th></th>
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for cinema in cinemas %}
        <tr>
            <td>{{ cinema.id }}</td>
            <td>{{ cinema.name }}</td>
            <td>{{ cinema.address }}</td>
            <td>{{ cinema.phone }}</td>
            <td>{{ cinema.cnpj }}</td>
            {% if user.is_authenticated %}
            <td>
                <a class="btn-edit" href="{% url 'cinema:edit_cinema' cinema.id %}">Edit</a>
            </td>
            <td>
                <a class="btn-delete" href="{% url 'cinema:delete_cinema' cinema.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
