{% extends 'base.html' %}

{% block title %}
    Edit Cinema - {{ block.super }}
{% endblock title %}

{% block body %}
<main class="form-page">
    <section class="form-card">
        <h1 class="form-title">Edit Cinema</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Name</label>
            {{ cinema_form.name }}
            <label>Address</label>
            {{ cinema_form.address }}
            <label>Phone</label>
            {{ cinema_form.phone }}
            <label>CNPJ</label>
            {{ cinema_form.cnpj }}
            <div class="form-actions">
                <button type="submit" class="btn">Save Cinema</button>
            </div>
        </form>
    </section>
</main>

<hr />

<h2>Room List</h2>

<br />

{% if user.is_authenticated %}
<a class="btn-register" href="{% url 'room:add_room' cinema.id %}">Register Room</a>

<br />
<br />
{% endif %}

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Projection Type</th>
            <th>Accessibility</th>
            {% if user.is_authenticated %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>

    {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.rows }}</td>
            <td>{{ room.columns }}</td>
            <td>{{ room.projection_type }}</td>

            <td>
                {% if room.accessibility %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>

            {% if user.is_authenticated %}
            <td>
                <a class="btn-edit" href="{% url 'room:edit_room' cinema.id room.id %}">Edit</a>
            </td>

            <td>
                <a class="btn-delete" href="{% url 'room:delete_room' cinema.id room.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>

    {% empty %}
        <tr>
            <td colspan="6">
                No rooms registered.
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<br />

<a href="{% url 'cinema:cinema_list' %}">
    Back to Cinema List
</a>

{% endblock body %}