{% extends 'base.html' %}
{% block title %}
    Order List - {{ block.super }}
{% endblock title %}
{% block body %}
<br />
<a href="{% url 'order:add_order' %}">Register Order</a>
<br />
<br />
<b>Order List</b>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
        <th>Client</th>
        <th>Payment</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.date_created }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.client }}</td>
            <td>
                {% if order.payment %}
                    {{ order.payment.transaction_status }}
                {% else %}
                    —
                {% endif %}
            </td>
            <td>
                {% if order.payment and order.payment.transaction_status == 'pending' %}
                <a href="{% url 'payment:edit_payment' order.payment.id %}">Approve</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'order:delete_order' order.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
