{% extends 'base.html' %}

{% block title %}
    Register Room - {{ block.super }}
{% endblock title %}

{% block body %}

<h1>Register Room for {{ cinema.name }}</h1>

<form method="POST">
    {% csrf_token %}

    <label>Capacity</label>
    <br />
    {{ form.capacity }}
    <br />
    <br />

    <label>Projection Type</label>
    <br />
    {{ form.projection_type }}
    <br />
    <br />

    <label>Accessibility</label>
    <br />
    {{ form.accessibility }}
    <br />
    <br />

    <button type="submit">
        Save
    </button>
</form>

<br />

<a href="{% url 'cinema:edit_cinema' cinema.id %}">
    Back to Cinema
</a>

{% endblock body %}