{% extends 'base.html' %}
{% block title %}
    Register Movie - {{ block.super }}
{% endblock title %}
{% block body %}
<main class="form-page">
    <section class="form-card">
        <h1 class="form-title">Register Movie</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Title</label>
            {{ form.title }}
            <label>Synopsis</label>
            {{ form.synopsis }}
            <label>Duration Minutes</label>
            {{ form.duration_minutes }}
            <label>Age Rating</label>
            {{ form.age_rating }}
            <label>Poster</label>
            {{ form.poster }}
            <label>Genre</label>
            {{ form.genres }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</main>
{% endblock body %}