{% extends 'base.html' %}
{% load static %}
{% block title %}
    Movie List - {{ block.super }}
{% endblock title %}
{% block body %}
<br />
{% if user_is_employee %}
    <a href="{% url 'movie:add_movie' %}">Register Movie</a>
<br />
<br />
{% endif %}
<b>Movie List</b></h5>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Duration Minutes</th>
        <th>Age Rating</th>
        <th>Poster</th>
        <th>Genre</th>
        {% if user_is_employee %}
        <th></th>
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.synopsis }}</td>
            <td>{{ movie.duration_minutes }}</td>
            <td>{{ movie.age_rating }}</td>
            <td>
                {% if movie.poster %}
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="No poster" width="100">
                {% endif %}
            </td>
            <td>
                {% for genre in movie.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No genres
                {% endfor %}
            </td>
            {% if user_is_employee %}
            <td>
                <a href="{% url 'movie:edit_movie' movie.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'movie:delete_movie' movie.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
